/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 25vh 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url("@site/static/img/background.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  color: #4B006E;
  text-shadow: 5px 5px 1px #FFF000;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}

.subTitle {
  font-size: 3rem;
}

.tagline {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.button {
  composes: button from global;
  composes: button--lg from global;
  height: 3rem;
  color: #FFF000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.buttonDownload {
  composes: button;
  background-color: #4B006E;
  transition: all ease-in-out 0.2s;
}
.buttonDownload:hover {
  border-radius: 10px;
  color: #FFF000;
  box-shadow: 7px 5px 0 #FFF000;
}

.buttonInstructions {
  composes: button;
  background-color: #4B006E;
  transition: all ease-in-out 0.2s;
}
.buttonInstructions:hover {
  border-radius: 10px;
  color: #FFF000;
  box-shadow: 7px 5px 0 #FFF000;
}

.fullScreen {
  height: 100vh;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .title {
    font-size: 3rem;
  }

  .subTitle {
    font-size: 1.5rem;
  }

  .buttons {
    flex-direction: column;
  }  

  .fullScreen {
    height: auto;
  }
}