/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7d41ff;
  --ifm-color-primary-dark: #4b006e;
  --ifm-color-primary-darker: #4b006e;
  --ifm-color-primary-darkest: #4b006e;
  --ifm-color-primary-light: #7d41ff;
  --ifm-color-primary-lighter: #7d41ff;
  --ifm-color-primary-lightest: #7d41ff;
  --ifm-code-font-size: 95%;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-footer-background-color: red;

  --aa-primary-color-rgb: #7d41ff !important;
  --aa-muted-color-rgb: #7d41ff !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7d41ff;
  --ifm-color-primary-dark: #4b006e;
  --ifm-color-primary-darker: #4b006e;
  --ifm-color-primary-darkest: #4b006e;
  --ifm-color-primary-light: #7d41ff;
  --ifm-color-primary-lighter: #7d41ff;
  --ifm-color-primary-lightest: #7d41ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "Brda";
  src: url("../../static/fonts/Brda/BrdaCom-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}